<div id="<%= dom_id quote %>">
  <p>
    <strong>Expiration date:</strong>
    <%= quote.expiration_date %>
  </p>

  <p>
    <strong>Prospect:</strong>
    <%= quote.prospect_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quote.user_id %>
  </p>

</div>
