<% content_for :title, "Editing job" %>

<h1>Editing job</h1>

<%= render "form", job: @job %>

<br>

<div>
  <%= link_to "Show this job", @job %> |
  <%= link_to "Back to jobs for this machine", customer_machine_jobs_path(@customer, @machine) %>
</div>
