<% content_for :title, "Editing lease agreement" %>

<h1>Editing lease agreement</h1>

<%= render "form", lease_agreement: @lease_agreement %>

<br>

<div>
  <%= link_to "Show this lease agreement", @lease_agreement %> |
  <%= link_to "Back to lease agreements", lease_agreements_path %>
</div>
