<% content_for :title, "Editing machine" %>

<h1>Editing machine</h1>

<%= render "form", machine: @machine %>

<br>

<div>
  <%= link_to "Show this machine", customer_machine_path(@customer, @machine) %> |
  <%= link_to "Back to machines", customer_machines_path(@customer) %>
</div>
