<% if notice %>
  <div class="notice" style="background-color: #d4edda; ..."><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert" style="background-color: #f8d7da; ..."><%= alert %></div>
<% end %>